<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="/courses/new" method="post">
      <label for="course-name">Course name</label>
      <input id="course-name" name="course-name" type="text">
      <label for="course-number">Course number</label>
      <input id="course-number" name="course-number" type="text">
      <button type="submit">Add</button>
    </form>
  </body>
</html>
