<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>University Registrar</h1>
    <h4><a href="/courses">View Courses</a></h4>
    <h4><a href="/students">View Students</a></h4>
  </body>
</html>
